
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.secondary-bg{
    background-color: #FFFFFF;
}
.text-primary{
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    border-radius: auto;
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    font-size: 18px;
    color: #252432;
}
/*header */
.header{
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
    height: 80vh;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 26px;
}

nav ul li{
    list-style: none;
}
/* banner */
.banner{
    text-align: center;
    margin-top: 130px;  
}

/* action */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.action-content{
    max-width: 517px;
    margin: auto;
}
.action-picture{
    width: 403px 332px;
}

/* stats-section */
.stats-section{
    background-color: rgb(179, 198, 250);
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 20px;
}
.stats-section h2{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}
.stats-section h6{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.users-number{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.user{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.user h3{
    font-size: 80px;
    color: #4E47FF;
    margin: 0;

}
.user p {
    font-size: 20px;
    color: #000000;
    margin: 8px auto;
}



  
